@model IOUTrackerApp.Models.IOUStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IOUStatus</h4>
    <hr />
    <dl class="dl-horizontal"  style="background: @Html.DisplayFor(model => model.color.color)">
        <dt>
            @Html.DisplayNameFor(model => model.color.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
